<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="cart-title">Stripped Progress Bar</div>
        <!-- Barra de progreso -->
        <div class="progress mt-3">
          <div class="progress-bar bg-primary progress-bar-striped active"
            role="progressbar"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
            style="height:10px;"
            [style.width]="getPorcentaje1">
              <span class="sr-only">85% Complete</span>
            </div>
        </div>
        <!-- Barra de progreso -->
        <div class="progress mt-3">
          <div class="progress-bar bg-info progress-bar-striped active"
            role="progressbar"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
            style="height:10px;"
            [style.width]="getPorcentaje2">
              <span class="sr-only">85% Complete</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <!-- Enviar valor de entrada al componente y responder al evento que emite -->
        <app-incrementador [valor]="progreso1" btnClass="btn-warning" (valorActual)="progreso1 = $event"></app-incrementador>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador [valor]="progreso2" btnClass="btn-success" (valorActual)="progreso2 = $event"></app-incrementador>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
