<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="cart-title">Stripped Progress Bar</div>
        <div class="progress mt-3">
          <div class="progress-bar bg-primary progress-bar-striped active"
            role="progressbar"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
            style="height:10px;"
            [style.width]="getPorcentaje">
              <span class="sr-only">85% Complete</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)"><i class="fa fa-minus"></i></button>
          </span>
          <input type="number"
            class="form-control"
            [(ngModel)]="progreso"
            min="0"
            max="100"
            step="1"
            placeholder="Product name">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" (click)="cambiarValor(5)"><i class="fa fa-plus"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6"></div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
