<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" class="form-control" #txtTermino (keyup)="buscar( txtTermino.value )" placeholder="Buscar médico...">
      </div>
    </div>
  </div>
</div>
<div *ngIf="loader" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>
<div *ngIf="!loader" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="card-title">Médicos</h4>
            <h6 class="card-subtitle">Médicos registrados en mi aplicación</h6>
          </div>
          <div class="col">
            <a routerLink="/dashboard/medico/nuevo" class="btn btn-primary float-right"><i class="fa fa-save mr-2"></i> Crear médico</a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="100" class="text-center">Foto</th>
                <th>Nombre</th>
                <th width="100" class="text-nowrap text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medico of medicos">
                <td class="text-center">
                  <img [src]="medico.img! | imagen:'medicos'" alt="Avatar médico" width="40">
                </td>
                <td>{{ medico.nombre }}</td>
                <td class="text-nowrap text-center">
                  <a [routerLink]="['/dashboard/medico', medico._id]" style="cursor: pointer;" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                  <a style="cursor: pointer;" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-container *ngIf="!txtTermino.value.length">
          <button class="btn btn-secondary">Anteriores</button>
          &nbsp;
          <button class="btn btn-secondary">Siguientes</button>
        </ng-container>
      </div>
    </div>
  </div>
</div>

