<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Mi perfil de usuario</h4>
        <h6 class="card-subtitle">Ajustes</h6>
        <form (ngSubmit)="actualizarPerfil()" [formGroup]="profileForm" class="form p-t-20">
          <div class="form-group">
            <label for="exampleInputuname">Nombre</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" formControlName="nombre" class="form-control" id="exampleInputuname" placeholder="Nombre">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
          </div>
          <button type="submit" [disabled]="profileForm.invalid" class="btn btn-success btn-block waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i> Guardar cambios
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">Imagen de usuario</h6>
        <form class="form p-t-20">
          <div class="form-group">
            <!-- Detectar cuando cambia el valor de este control (indica cuando se carga una nueva imagen) -->
            <input type="file" (change)="cargarImagen($event)">
          </div>
          <!-- El boton se deshabilita si no se sube un archivo -->
          <button type="button" [disabled]="!imagenCargada" (click)="actualizarImagenPerfil()" class="btn btn-success btn-block waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i> Cambiar imagen
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
