<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- Controles básicos no requieren de un formularios basados en template o reactivos
        Lo mejor es usar una variable de plantilla
        Por cada pulsación se busca el contenido relacionado -->
        <input type="text" class="form-control" #txtTermino (keyup)="buscarUsuarios(txtTermino.value)" placeholder="Buscar usuario...">
      </div>
    </div>
  </div>
</div>
<!-- Solo se muestra este componente si la información del backend aun esta en proceso -->
<div *ngIf="cargando" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>
<!-- Mostrar este componente solo cuando la data del servicio de usuarios este lista -->
<div *ngIf="!cargando" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <h6 class="card-subtitle">Usuarios registrados en mi aplicación <strong>({{ totalUsuarios }})</strong></h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="100">Avatar</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th width="190">Role</th>
                <th width="100">Auth</th>
                <th width="100" class="text-nowrap">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td><img [src]="usuario.getImageUrl" [alt]="usuario.nombre" width="50" (click)="mostrarModal(usuario)"></td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>
                  <!-- Vincular el role de usuario con el control select
                  Si cambia, se actualiza el rol en base de datos -->
                  <select class="form-control" [(ngModel)]="usuario.role" (change)="actualizarRole(usuario)">
                    <option value="ADMIN_ROLE">ADMIN_ROLE</option>
                    <option value="USER_ROLE">USER_ROLE</option>
                  </select>
                </td>
                <td class="text-center">
                  <span *ngIf="usuario.google; else classic" class="label label-info">Google</span>
                  <ng-template #classic>
                    <span class="label label-danger">Password</span>
                  </ng-template>
                </td>
                <td class="text-nowrap text-center">
                  <a (click)="eliminarUsuario(usuario)" style="cursor: pointer;" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Mostrar controles de paginación si el contenido no es resultado de una búsqueda -->
        <ng-container *ngIf="txtTermino.value.length === 0">
          <button class="btn btn-secondary" (click)="cambiarPagina(-5)">Anteriores</button>
          &nbsp;
          <button class="btn btn-secondary" (click)="cambiarPagina(5)">Siguientes</button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
